{
  "swagger": "2.0",
  "info": {
    "version": "2016-06-27-preview",
    "title": "ContainerRegistry"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroup}/moveResources": {
      "post": {
        "tags": [
          "Operation"
        ],
        "operationId": "Operation_MoveResources",
        "consumes": [
          "application/json",
         "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "resourceGroup",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "moveRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegistryMoveRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "deprecated": false
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroup}/providers/Microsoft.ContainerRegistry/registries/{registryName}": {
      "get": {
        "tags": [
          "Registries"
        ],
        "operationId": "Registries_GetProperties",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "resourceGroup",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "registryName",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Registry"
            }
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "Registries"
        ],
        "operationId": "Registries_Create",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "resourceGroup",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "registryName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "registryParameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegistryCreateParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
           "schema": {
              "$ref": "#/definitions/RegistryCreateParameters"
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "Registries"
        ],
        "operationId": "Registries_Delete",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "resourceGroup",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "registryName",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "deprecated": false
      },
      "patch": {
        "tags": [
          "Registries"
        ],
        "operationId": "Registries_Update",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "resourceGroup",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "registryName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "registryUpdateParameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegistryUpdateParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Registry"
            }
          }
        },
        "deprecated": false
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroup}/providers/Microsoft.ContainerRegistry/registries": {
      "get": {
        "tags": [
          "Registries"
        ],
        "operationId": "Registries_ListByResourceGroup",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "resourceGroup",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResourceList[Registry]"
            }
          }
        },
        "deprecated": false
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ContainerRegistry/registries": {
      "get": {
        "tags": [
          "Registries"
        ],
        "operationId": "Registries_List",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResourceList[Registry]"
            }
          }
        },
        "deprecated": false
      }
    },
    "/subscriptions/{subscriptionId}": {
      "put": {
        "tags": [
          "Subscriptions"
        ],
        "operationId": "Subscriptions_PutSubscription",
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "notification",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SubscriptionNotification"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SubscriptionNotification"
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "definitions": {
    "RegistryMoveRequest": {
      "type": "object",
      "properties": {
        "targetResourceGroup": {
          "type": "string"
        },
        "resources": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Registry": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "location": {
          "type": "string"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "type": {
          "type": "string",
          "readOnly": true
        },
        "properties": {
          "$ref": "#/definitions/RegistryProperties"
        }
      }
    },
    "RegistryProperties": {
      "type": "object",
      "properties": {
        "storageAccount": {
          "$ref": "#/definitions/StorageAccountBaseProperties"
        },
        "loginServer": {
          "type": "string"
        },
        "username": {
          "type": "string"
        },
        "creationDate": {
          "format": "date-time",
          "type": "string"
        }
      }
    },
    "StorageAccountBaseProperties": {
      "type": "object",
      "properties": {
       "name": {
          "type": "string"
        }
      }
    },
    "RegistryCreateParameters": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "location": {
          "type": "string"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "type": {
          "type": "string",
          "readOnly": true
        },
        "properties": {
          "$ref": "#/definitions/RegistryPropertiesCreateParameters"
        }
      }
    },
    "RegistryPropertiesCreateParameters": {
      "type": "object",
      "properties": {
        "tenantId": {
          "type": "string"
        },
        "storageAccount": {
          "$ref": "#/definitions/StorageAccountProperties"
        }
      }
    },
    "StorageAccountProperties": {
      "type": "object",
      "properties": {
        "accessKey": {
          "type": "string"
        },
        "endPointUrl": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "RegistryUpdateParameters": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "ResourceList[Registry]": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Registry"
          }
        }
      }
    },
    "SubscriptionNotification": {
      "type": "object",
      "properties": {
        "registrationDate": {
          "format": "date-time",
          "type": "string"
        },
        "state": {
          "enum": [
            "NotDefined",
            "Registered",
            "Unregistered",
            "Warned",
            "Suspended",
            "Deleted"
          ],
          "type": "string"
        },
        "properties": {
          "$ref": "#/definitions/SubscriptionProperties"
        }
      }
    },
    "SubscriptionProperties": {
      "type": "object",
      "properties": {
        "tenantId": {
          "type": "string"
        },
        "locationPlacementId": {
          "type": "string"
        },
        "quotaId": {
          "type": "string"
        }
      }
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "description": "Gets subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.",
      "required": true,
      "type": "string"
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "description": "Client Api Version.",
      "required": true,
      "type": "string"
    }
  }
}
